<module>
	<rawname>hotelwakeup</rawname>
	<name>Wake Up Calls</name>
	<repo>standard</repo>
	<version>15.0.5.5</version>
	<license>GPLv2</license>
	<licenselink>https://www.gnu.org/licenses/gpl-2.0.txt</licenselink>
	<publisher>Sangoma Technologies Corporation</publisher>
	<category>Applications</category>
	<description>FreePBX module for generating reminder and wakeup calls</description>
	<more-info>https://wiki.freepbx.org/display/F2/Wake+Up+Calls+User+Guide</more-info>
	<changelog>
		*15.0.5.5* Packaging of ver 15.0.5.5
		*15.0.5.4* Related to FREEPBX-20414: removed $jobid from runRestore() 
		*15.0.5.3* FREEPBX-20092 Wakeup Calls entries flushed while doing backup restore 
		*15.0.5.2* FREEPBX-19870 
		*15.0.5* fixing legacy restore
		*15.0.4* fixing legacy restore
		*15.0.3* FREEPBX-18363 Removing Bulk Delete button broken under wakeup calls
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* Add Backup 15.0
	</changelog>
	<menuitems>
		<hotelwakeup>Wake Up Calls</hotelwakeup>
		<hotelwakeup_settings display="hotelwakeup_settings" needsenginedb="yes" category="Settings">Wake Up Calls Settings</hotelwakeup_settings>
	</menuitems>
    <database>
        <table name="hotelwakeup_calls">
            <field name="time" type="integer" primarykey="true"/>
            <field name="ext" type="integer"/>
            <field name="maxretries" type="integer"/>
            <field name="retrytime" type="integer"/>
            <field name="waittime" type="integer"/>
            <field name="cid" type="string" length="30" notnull="false"/>
            <field name="cnam" type="string" length="30" notnull="false"/>
            <field name="application" type="string" length="30" notnull="false"/>
            <field name="data" type="string" length="30" notnull="false"/>
            <field name="tempdir" type="string" length="100" notnull="false"/>
            <field name="outdir" type="string" length="100" notnull="false"/>
            <field name="filename" type="string" length="100" notnull="false"/>
            <field name="frequency" type="integer"/>
        </table>
    </database>
	<depends>
		<module>ivr gt1.0</module>
		<module>soundlang</module>
		<module>recordings</module>
	</depends>
	<supported>
		<version>15.0</version>
	</supported>
</module>
