<module>
	<rawname>hotelwakeup</rawname>
	<name>Wake Up Calls</name>
	<repo>standard</repo>
	<version>13.0.7</version>
	<license>GPLv2</license>
	<licenselink>http://www.gnu.org/licenses/gpl-2.0.txt</licenselink>
	<publisher>Sangoma Technologies Corporation</publisher>
	<category>Applications</category>
		<description>FreePBX module for generating reminder and wakeup calls</description>
	<info>https://github.com/POSSA/Hotel-Style-Wakeup-Calls</info>
	<changelog>
		*13.0.7* minor fix for 24 hour time at 1300
		*13.0.6* FREEPBX-10101 Display system time in wakeup calls
		*13.0.5* FREEPBX-9980 better notices when input is wrong, FREEPBX-9981 remove bootnav, not needed here
		*13.0.4* FREEPBX-9912 Localize sound playback for hotelwakeup
		*13.0.3* FREEPBX-9841 addresses problems, uses new functionality, adds ability to list and manage multiple calls
		*13.0.2* Version bump Beta
		*13.0.1alpha3* Actually work
		*13.0.1alpha2* More Visual changes
		*13.0.1alpha1* Visual Styling Fixes
		 *2.11.3* Fixes outstanding database issues
		 *2.11.2* Database abstraction layer fixes
		 *2.11.1* #7011 fix errors in hotel wakeup
		 *2.11.0.0beta2* Removed online check for updates for POSSA
		 *2.11.0.0beta1* imported from web to online repo
	</changelog>
	<menuitems>
		<hotelwakeup>Wake Up Calls</hotelwakeup>
	</menuitems>
	<depends>
		<module>ivr gt1.0</module>
	</depends>
	<supported>
		<version>13.0</version>
	</supported>
	<location>release/2.11/hotelwakeup-2.11.1.tgz</location>
	<md5sum>d6f25e0c000f752a27577ae14037e44c</md5sum>
</module>
