<module>
	<rawname>hotelwakeup</rawname>
	<name>Wake Up Calls</name>
	<repo>standard</repo>
	<version>2.11.0beta1</version>
	<license>GNU-GPLv2</license>
	<candisable>yes</candisable>
	<canuninstall>yes</canuninstall>
	<type>setup</type>
	<publisher>POSSA</publisher>
	<category>Applications</category>
		<description>FreePBX module for generating reminder and wakeup calls</description>
	<info>https://github.com/POSSA/Hotel-Style-Wakeup-Calls</info>
	 <changelog>
		*2.11.0.0beta1* imported from web to online repo
	</changelog>
	<menuitems>
		<hotelwakeup>Wake Up Calls</hotelwakeup>
	</menuitems>
	<depends>
		<module>ivr gt1.0</module>
		<version>ge 2.9</version>
		<engine>asterisk 1.2</engine>
	</depends>
	<location>release/2.11/hotelwakeup-2.11.0beta1.tgz</location>
	<md5sum>483f4b8293ef55fcc28e89bb257f5c70</md5sum>
</module>
